*{
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
:root{
  --box-x-margin: 25px;
}
h1{
    margin: 2.5% 0 2.5% 0;
    text-align: center;
    font-size: 1.75em;
}
section{
    background-color: gray;
    border: 3px solid black;
}
section > h1{
    font-size: 1.25em;
    border: 2px solid black;
    position: relative;
    width:33.3%;
    margin: 0;
    top:-2px;
    left:67%;
}
p{
    text-align: left;
    padding: 2.5%;
}
.row{
    width: 100%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-6, .col-lg-12,.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-6, .col-md-12{
    float: left;
    margin: 0 var(--box-x-margin) 2.5%;

}
#ts1{
    background-color:lightcoral;
}
#ts2{
    background-color:maroon;
    color:white;
}
#ts3{
    background-color: palegoldenrod;
}

@media (min-width: 992px) {  
    .col-lg-1 {
      width: calc(8.33% - (2*var(--box-x-margin)));
    }
    .col-lg-2 {
      width: calc(16.66% - (2*var(--box-x-margin)));
    }
    .col-lg-3 {
      width: calc(25% - (2*var(--box-x-margin)));
    }
    .col-lg-4 {
      width: calc(33.33% - (2*var(--box-x-margin)));
    }
    .col-lg-6 {
      width: calc(50% - (2*var(--box-x-margin)));
    }
    .col-lg-12 {
      width: calc(100% - (2*var(--box-x-margin)));
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.9px) {
    .col-md-1 {
      width: calc(8.33% - (2*var(--box-x-margin)));
    }
    .col-md-2 {
      width: calc(16.66% - (2*var(--box-x-margin)));
    }
    .col-md-3 {
      width: calc(25% - (2*var(--box-x-margin)));
    }
    .col-md-4 {
      width: calc(33.33% - (2*var(--box-x-margin)));
    }
    .col-md-6 {
      width: calc(50% - (2*var(--box-x-margin)));
    }
    .col-md-12 {
      width: calc(100% - (2*var(--box-x-margin)));
    }
  }